Telefone: <input [textMask]="{mask: tel}" type="text"/> <br><br>
CEP: <input [textMask]="{mask: cep}" type="text"/> <br><br>
CPF: <input [textMask]="{mask: cpf}" type="text"/> <br><br>
CNPJ: <input [textMask]="{mask: cnpj}" type="text"/> <br><br>
RG: <input [textMask]="{mask: rg}" type="text"/> <br><br>

Preço: <input currencyMask [(ngModel)]="value" [options]="{ prefix: 'R$ ', thousands: ',', decimal: '.' }"/>